.circle {
  border-radius: 50%;
  position: absolute;

  mix-blend-mode: color-dodge;

  z-index: 1;

  overflow: hidden;
}

.circleContainer {
  position: absolute;
  display: grid;
  place-items: center;
  width: 15rem;
  height: 15rem;
  pointer-events: none;
}

.movingCircles {
  min-width: 50%;

  min-height: 100%;

  margin-right: -10vw;
  margin-left: 10vw;

  margin-top: 5vh;

  display: grid;
  place-items: center;
}