@import "./circles.scss";
@import "./shiftingText.scss";
@import "./globals.scss";
@import "./contactForm.scss";
@import "./footer.scss";


// @tailwind base;
@tailwind components;
@tailwind utilities;


.hero {
  margin-top: -10vh;

  @media only screen and (max-width:$medium) {
    margin-top: -7vh;
  }

  @media only screen and (max-width: $small){
    margin-top: -5vh;
  }

  user-select: none;

  font-size: 10rem;
  position: relative;

  &>h1 {
    position: relative;

    // font-size: 7rem;
    font-size: max(4vw, 4vh);

    &>* {
      position: relative;
      z-index: 999;
    }
  }
}

.navDiv {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;

  align-items: center;

  justify-content: space-between;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;

  font-size: 12pt;

  @media only screen and (max-width: $medium) {
    font-size: 10pt;
  }

  text-align: center;

  z-index: 10000;
  user-select: none;
}

.menu {
  position: relative;
  z-index: 1000;
  text-align: right;
}

.growLink:hover {
  color: red;
  cursor: pointer;
  transform: scale(1.1);
}

.sub {
  display: flex;
  flex-direction: row-reverse;
  align-content: center;
  flex-wrap: nowrap;

  z-index: 10;

  max-width: 100%;

  margin-top: -5vh;

  .subText {
    padding-left: 3rem;
    padding-right: 3rem;
    padding-bottom: 3rem;
    // overflow: visible;
    z-index: 10;

    max-width: 50%;

    background-color: rgba(100, 100, 100, 0.1);
    backdrop-filter: blur(2px);
    border-radius: 15px;


    @media only screen and (max-width: $medium) {
      min-width: 70%;
      max-width: 100%;
      margin-right: -30vw;
    }
  }
}

