@import "./circles.scss";
@import "./shiftingText.scss";
@import "./globals.scss";
@import "./contactForm.scss";
@import "./footer.scss";


.frontPage {
  min-height: 100vh;
  margin-top: 15vh;
}

.hero {
  margin-top: -10vh;

  user-select: none;

  font-size: 10rem;
  position: relative;

  &>h1 {
    position: relative;

    // font-size: 7rem;
    font-size: max(4vw, 4vh);

    &>* {
      position: relative;
      z-index: 999;
    }
  }
}

.placeholder {
  min-height: 100vh;
  padding: 5rem;
  padding-top: 15rem;
}



.navDiv {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;

  justify-content: space-between;
  padding: 1rem;
  // font-size: 80%;
  font-size: 12pt;

  @media only screen and (max-width: $medium) {
    font-size: 10pt;
  }



  text-align: center;

  z-index: 10000;
  user-select: none;
}

.menu {
  position: relative;
  z-index: 1000;
  text-align: right;
}

.menuDropDown {
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  position: absolute;
  right: 0;
  cursor: pointer;
}

.growLink:hover {
  color: red;
  cursor: pointer;
  transform: scale(1.1);
}

.sub {
  display: flex;
  flex-direction: row-reverse;
  align-content: center;
  flex-wrap: nowrap;

  max-width: 100%;

  margin-top: -5vh;

  .subText {
    padding-left: 1rem;
    padding-right: 1rem;
    // overflow: visible;
    z-index: 10;

    max-width: 50%;

    background-color: rgba(100,100,100,0.1);
    backdrop-filter: blur(2px);
    border-radius: 15px;


    @media only screen and (max-width: $medium) {
      min-width: 70%;
      max-width: 100%;
      margin-right: -30vw;
    }
  }
}

.movingCircles {
  min-width: 50%;

  min-height: 100%;

  margin-right: -10vw;
  margin-left: 10vw;

  margin-top: 5vh;

  display: grid;
  place-items: center;

  // overflow: visible;
}



.projectList {
  z-index: 100;
}

.projectThumbnail {
  display: flex;
  flex-direction: column;

  border: 1px solid white;
  border-radius: 1rem;

  padding: 3rem;
  margin-bottom: 2rem;
  padding-top: 0rem;

  .divHorizontal {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    img {
      max-width: 40%;

      @media only screen and (max-width: $medium) {
        max-width: 100%;
      }
    }

    h3 {
      font-size: 4rem;
      padding: 0;
    }
    
    .subTitleDiv{
      display:flex;
      flex-direction: column;

      align-items: left;
      justify-content: space-evenly;

      span{
        margin-top: -4rem;
        margin-bottom: 2rem;
        font-size: 1.5rem;

        text-align: left;

        justify-self: left;
      }
    }

    .thumbButtonDiv{
      @extend .divHorizontal;
      justify-items: flex-start;
    }
    
  }

  //todo
}

.tag {
  margin-left: 3rem;
  border: 1px solid white;
  border-radius: 5px;
  padding: 1rem;

  font-family: "MonumentExtended";
  font-weight: 200;
  font-size: 2rem;
}

.projThumbText{
  display:flex;
  flex-direction: column;

  margin-left: 1rem;
  margin-right: 1rem;

  @media only screen and (min-width: $medium) {
    max-width: 50%;
  }
}